*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.CircularProgressbar-text {
  display: flex;
  justify-content: center;
  align-items: center
}
.CircularProgressbar{
  width: 450px;
  height: 450px;
}
.App {
  min-height: 100vh;
  display: flex;
}

.card{

  margin: auto;
}
.timer{
  font-size: 40px;
  font-weight: bold;
}
.break,.session{
  font-size: 25px;
}
#display{
  width: 100%;
  margin: auto;
  text-align: center
}

.btn{
  margin: 10px;
  padding: 10px;
  font-size: 20px;
}
